.history-event .border, .history-event .border-right, .history-event .card {
	border-color: var(--article-color-h) !important;
}
.history-event .bg-light {
  background-color: var(--article-color-h) !important;
}
.history-event .card {
	border: none;
	overflow: hidden;
}
.history-event .card-title {
  font-weight: bold;
}
.history-event .history-event-image img {
	display: block;
	width: 100%;
	height: auto;
}
@media screen and (min-width: 576px) {
	.history-event .left-card {
		text-align: right;
	}
}